@import "reset";
@import "vars";

@import "normalize";
@import "layout";

#app {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid black;
}
input {
    border: 1px solid black;
}
.input {
    padding-block: 0.5rem;
    display: flex;
    justify-content: center;
}
button {
    border: 1px solid black;
    padding: 0.25rem;
}
.todo {
    display: flex;
    justify-content: space-between;
    padding-block: 0.25rem;
}
